/********** Base styles **********/
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: helvetica, arial;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 3em;
}

h2 {
	position: relative;
	padding: 2px 5px 2px 5px;
	left: 67%;
	width: 33%;
	text-align: center;
  font-size: 2em;
}

p {
	padding: 5px;
  font-size: 1.2em;
}

.container{
	padding: 2%;
}

.row {
  	width: 100%;
}

.row > div {
	border: 2px solid black;
	float: left;
}


.chicken {
	background-color: #88A6C6;
}

.chicken > h2 {
	background-color: #C8DBEF;
}

.beef {
	background-color: #91F281;
}

.beef > h2 {
	background-color: #B2F8BA;
}

.sushi {
	background-color: #E93737;
}

.sushi > h2 {
	background-color: #EB5E5E;
}

/********** Large devices only **********/
@media (min-width: 991px) {
   .chicken, .beef, .sushi{
   	width: 32%;
   }
   .chicken, .beef {
   	margin-right: 2%;
   }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .chicken, .beef {
    width: 49%;
    margin-bottom: 2%
  }

  .chicken  {
  	margin-right: 2%;
  }

  .sushi > h2 {
  	left: 84%;
  	width: 16%;
  }
}



/********** Small devices only **********/
@media (max-width: 767px) {
  .chicken, .beef {
  	margin-bottom: 2%;
  }	  
}


